{"swagger":"2.0","info":{"title":"2","description":"2","version":"2"},"host":"api.nytimes.com","schemes":["https"],"basePath":"/","produces":["application/json"],"paths":{"/":{"get":{"summary":"","description":"","parameters":[],"tags":["api"],"responses":{"200":{"description":"","schema":{"description":"","$ref":"#/definitions/api.HomeResponse"}}}}},"/api/demo":{"get":{"summary":"","description":"","parameters":[{"name":"id","description":"\n  @Tag(\"bson\")\n    ","format":"int64","in":"query","required":false,"type":"integer"}],"tags":["api"],"responses":{"200":{"description":"","schema":{"description":"","$ref":"#/definitions/api.ApiDemoHomeResponse"}}}}},"/info":{"get":{"summary":"","description":"","parameters":[{"name":"id","description":"\n  @Tag(\"json\")\n    ","format":"int64","in":"query","required":false,"type":"integer"}],"tags":["admin"],"responses":{"200":{"description":"","schema":{"description":"","$ref":"#/definitions/admin.InfoResponse"}}}}},"/login":{"post":{"summary":"","description":"","parameters":[{"name":"username","description":"\n  账户\n    ","format":"string","in":"query","required":false,"type":"string"},{"name":"password","description":"\n  密码\n    ","format":"string","in":"query","required":false,"type":"string"}],"tags":["admin"],"responses":{"200":{"description":"","schema":{"description":"","$ref":"#/definitions/admin.LoginResponse"}}}}},"/logout":{"post":{"summary":"","description":"","parameters":[],"tags":["admin"],"responses":{"200":{"description":"","schema":{"description":"","$ref":"#/definitions/admin.LogoutResponse"}}}}}},"definitions":{"admin.InfoRequest":{"description":"","type":"object","properties":{"id":{"description":"\n  @Tag(\"json\")\n    ","type":"integer","format":"int64"}}},"admin.InfoResponse":{"description":"","type":"object","properties":{"avatar":{"description":"  test\n  头像\n    ","type":"string","format":"string"},"introduction":{"description":"\n  描述\n    ","type":"string","format":"string"},"name":{"description":"\n  名称\n    ","type":"string","format":"string"},"roles":{"description":"","type":"array","items":{"description":"\n  角色名称列表\n     ","type":"string","format":"string"}}}},"admin.LoginRequest":{"description":"","type":"object","properties":{"password":{"description":"\n  密码\n    ","type":"string","format":"string"},"username":{"description":"\n  账户\n    ","type":"string","format":"string"}}},"admin.LoginResponse":{"description":"","type":"object","properties":{"token":{"description":"\n    ","type":"string","format":"string"}}},"admin.LogoutRequest":{"description":"","type":"object"},"admin.LogoutResponse":{"description":"","type":"object","properties":{"tip":{"description":"\n    ","type":"string","format":"string"}}},"api.ApiDemoHomeRequest":{"description":"","type":"object","properties":{"id":{"description":"\n  @Tag(\"bson\")\n    ","type":"integer","format":"int64"}}},"api.ApiDemoHomeResponse":{"description":"","type":"object","properties":{"data":{"description":"\n ","$ref":"#/definitions/api.data_api.data"},"start_time":{"description":"\n    ","type":"string","format":"string"},"tip":{"description":"\n    ","type":"string","format":"string"}}},"api.HomeRequest":{"description":"","type":"object"},"api.HomeResponse":{"description":"","type":"object","properties":{"start_time":{"description":"\n    ","type":"string","format":"string"},"tip":{"description":"\n    ","type":"string","format":"string"}}},"api.data_api.data":{"description":"","type":"object","properties":{"name":{"description":"\n    ","type":"string","format":"string"}}},"google.protobuf.Any":{"description":"","type":"object"}}}